.content
  .row
    .col-md-12
      .box.box-info
        .box-header
          %h3 Recent Requests for #{params[:app_controller]}
        .box-body
          %table.table
            %tr
              %th ID
              %th Controller
              %th Action
              %th.text-right Time (ms)
              %th.text-right Requested At
            - @app_requests.each do |app_request|
              %tr
                %td=link_to app_request.id, app_request_path(app_request)
                %td=app_request.controller
                %td=app_request.action
                %td.text-right=app_request.request_time_in_milliseconds
                %td.text-right=l app_request.created_at