.content
  .row
    .col-md-12
      .box.box-info
        .box-header
          %h3 Slowest Requests
        .box-body
          -if @slowest_requests.empty?
            %p This API Key has no requests associated with it
          -else
            %table.table
              %tr
                %th ID
                %th Controller
                %th Action
                %th.text-right Time (ms)
                %th.text-right Strings
              - @slowest_requests.each do |app_request|
                %tr
                  %td=link_to app_request.id, app_request_path(app_request)
                  %td=link_to app_request.controller, app_controllers_path(:app_controller => app_request.controller, :app_action => app_request.action)
                  %td=app_request.action
                  %td.text-right=app_request.request_time_in_milliseconds
                  %td.text-right=app_request.strings