.main-sidebar
  .sidebar
    =form_tag(sessions_path, :class => "sidebar-form") do
      .input-group
        %input.form-control{:name => "api_key", :placeholder => "Enter API Key"}
          %span.input-group-btn
            %button#search-btn.btn.btn-flat{:name=>"search", :type=>"submit"}
              %i.fa.fa-search
    .sidebar-menu.tree
      %li
        %a{:href=>"/app_requests"}
          %i.fa.fa-book
          %span SLOW REQUESTS
      %li
        %a{:href=>"/api_keys"}
          %i.fa.fa-book
          %span API KEYS